In [32]:
import pandas as pd

print(pd.__version__)

2.1.3

### Step 01 : Discuss the content of the csv file

We can observe that the columns have no name, we should add a header

A `header` is the first row that contains the names of the columns

In [33]:
df = pd.read_csv("data\\oil-spill.csv", header=None)

In [34]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0

In [35]:
summary = df.describe()
summary

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
count,937.000000,937.000000,937.000000,937.000000,937.000000,9.370000e+02,937.000000,937.000000,937.000000,937.000000,...,937.000000,937.000000,937.000000,937.000000,937.000000,937.000000,937.000000,937.000000,937.000000,937.000000
mean,81.588047,332.842049,698.707086,870.992209,84.121665,7.696964e+05,43.242721,9.127887,3940.712914,0.221003,...,933.928677,427.565582,255.435902,106.112519,5.014002,0.128068,7985.718004,61.694386,8.119723,0.043757
std,64.976730,1931.938570,599.965577,522.799325,45.361771,3.831151e+06,12.718404,3.588878,8167.427625,0.090316,...,1001.681331,715.391648,534.306194,135.617708,5.029151,0.334344,6854.504915,10.412807,2.908895,0.204662
min,1.000000,10.000000,1.920000,1.000000,0.000000,7.031200e+04,21.240000,0.830000,667.000000,0.020000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2051.500000,35.950000,5.810000,0.000000
25%,31.000000,20.000000,85.270000,444.200000,54.000000,1.250000e+05,33.650000,6.750000,1371.000000,0.160000,...,450.000000,180.000000,90.800000,50.120000,2.370000,0.000000,3760.570000,65.720000,6.340000,0.000000
50%,64.000000,65.000000,704.370000,761.280000,73.000000,1.863000e+05,39.970000,8.200000,2090.000000,0.200000,...,685.420000,270.000000,161.650000,73.850000,3.850000,0.000000,5509.430000,65.930000,7.220000,0.000000
75%,124.000000,132.000000,1223.480000,1260.370000,117.000000,3.304680e+05,52.420000,10.760000,3435.000000,0.260000,...,1053.420000,460.980000,265.510000,125.810000,6.320000,0.000000,9521.930000,66.130000,7.840000,0.000000
max,352.000000,32389.000000,1893.080000,2724.570000,180.000000,7.131500e+07,82.640000,24.690000,160740.000000,0.740000,...,11949.330000,11500.000000,9593.480000,1748.130000,76.630000,1.000000,55128.460000,66.450000,15.440000,1.000000

### Step02 : Identify the columns the contain one single value

**Method 1** : Identify the columns with a null standard deviation(std) , which means there is only one single value

In [36]:
single_value_columns = summary.columns[summary.loc["std"] == 0]

# Affichez les noms des colonnes contenant une seule valeur
print("Columns containing a single value :", single_value_columns.tolist())

Columns containing a single value : [22]

**Method 2** : Use `pd.DataFrame.nunique()`

In [37]:
single_value_columns2 = df.columns[df.nunique() == 1]
print("Columns containing a single value :", single_value_columns2.tolist())

Columns containing a single value : [22]

We can verify that that in the column `22`, all the rows contain the value 0

In [38]:
df[22].value_counts()

22
0    937
Name: count, dtype: int64

In [39]:
single_values = df.apply(lambda x: x.nunique() == 1, axis=0)
print(
    f"The columns with single value are: {single_values[single_values].index.tolist()}"
)

The columns with single value are: [22]

 Les colonnes qui ont une mÃªme valeur pour 
toutes les lignes ne contiennent aucune information 
pour la modÃ©lisation, on peut donc les enlever

In [40]:
df_prun = df.drop(22, axis=1)
df_prun.columns

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
      dtype='int64')

 Ã‰crire le programme Python qui charge le jeu 
de donnÃ©es (oil-spill.csv) et rÃ©sume le nombre de 
valeurs uniques pour chaque colonne.

In [45]:
def load_data_and_unique_values(data_path: str) -> pd.core.series.Series:
    df = pd.read_csv(data_path, header=None)
    unique_values_summary = df.nunique()
    return unique_values_summary

In [46]:
print(load_data_and_unique_values("data\\oil-spill.csv"))

0     238
1     297
2     927
3     933
4     179
5     375
6     820
7     618
8     561
9      57
10    577
11     59
12     73
13    107
14     53
15     91
16    893
17    810
18    170
19     53
20     68
21      9
22      1
23     92
24      9
25      8
26      9
27    308
28    447
29    392
30    107
31     42
32      4
33     45
34    141
35    110
36      3
37    758
38      9
39      9
40    388
41    220
42    644
43    649
44    499
45      2
46    937
47    169
48    286
49      2
dtype: int64

In [47]:
def drop_columns_with_single_value(data_path: str) -> pd.core.frame.DataFrame:
    unique_values = load_data_and_unique_values(data_path)
    one_value_cols = df.columns[unique_values == 1]
    return df.drop(one_value_cols, axis=1)

In [50]:
df2 = drop_columns_with_single_value("data\\oil-spill.csv")
df2.columns

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
      dtype='int64')

In [64]:
unique_percentage = df2.nunique() / len(df2) * 100


print("Pourcentage de valeurs uniques pour chaque variable :")
[print(f"{col} : {unique_percentage[col]:.2f}%") for col in unique_percentage.index]

Pourcentage de valeurs uniques pour chaque variable :
0 : 25.40%
1 : 31.70%
2 : 98.93%
3 : 99.57%
4 : 19.10%
5 : 40.02%
6 : 87.51%
7 : 65.96%
8 : 59.87%
9 : 6.08%
10 : 61.58%
11 : 6.30%
12 : 7.79%
13 : 11.42%
14 : 5.66%
15 : 9.71%
16 : 95.30%
17 : 86.45%
18 : 18.14%
19 : 5.66%
20 : 7.26%
21 : 0.96%
23 : 9.82%
24 : 0.96%
25 : 0.85%
26 : 0.96%
27 : 32.87%
28 : 47.71%
29 : 41.84%
30 : 11.42%
31 : 4.48%
32 : 0.43%
33 : 4.80%
34 : 15.05%
35 : 11.74%
36 : 0.32%
37 : 80.90%
38 : 0.96%
39 : 0.96%
40 : 41.41%
41 : 23.48%
42 : 68.73%
43 : 69.26%
44 : 53.26%
45 : 0.21%
46 : 100.00%
47 : 18.04%
48 : 30.52%
49 : 0.21%

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]